* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
} */


.navbar ul li a:hover {
    color: #50B83C;
}

span {
    color: #50B83C;
    font-weight: bold;
}